mule-extension-model-loader/src/test/resources/test-project/src/main/mule/mule-config2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="onErrorPropagateTypeMatch">
        <set-payload value="#[payload ++ ' apt1']"/>
        <raise-error type="TEST:EXPECTED"/>
        <error-handler>
            <on-error-propagate type="SOURCE_ERROR_RESPONSE_GENERATE">
                <set-payload value="#[payload ++ ' nope']"/>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <logger level="ERROR"/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>