mule-artifact-it/mule-packager-it/src/test/resources/simple-app-with-lib/src/main/mule/simple-app-with-lib.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <import file="simple-lib.xml"/>

  <flow name="test-lib">
    <flow-ref name="common-flow"/>
  </flow>
    <flow name="testing-transform-set-payload-validationFlow" doc:id="ccea05d4-3e8e-4e8a-9f43-f245158282e7" >
    <parse-template doc:name="Parse Template" doc:id="2db3cec0-21c9-4f84-a776-ed56d63625d1" location="jboss-as-checkstyle/checkstyle.xml"/>
		<ee:transform doc:name="Transform Message" doc:id="232cf3e8-ab0e-4363-8869-3c518a43e11e" >
			<ee:message >
				<ee:set-payload resource="dataweave/set-empty-payload.dwl" />
			</ee:message>
		</ee:transform>
					<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7f7d75a4-a84f-4406-b14d-76abf5f169de" type="HTTP:BAD_GATEWAY" when="(error.errorMessage.payload.^mediaType contains 'application/json') and (error.errorMessage.payload.detail != null)">
					<set-variable value="409" doc:name="Set HTTP Status 409" doc:id="845ca4a1-096f-48e7-b9d5-62ffb2a3c7fb" variableName="httpStatus"/>
				</on-error-continue>
			</error-handler>
	</flow>

</mule>
